
.container{
    height: 100vh;
    width: 100%;

}

.header{
    background-color: rgb(222, 120, 30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}

#menu{
    font-size: xx-large;
    cursor: pointer;
}
#menu:hover{
   color: gray;
   transition: 0.5s;
}



.menu-lateral{
    display: none;
    width: 300px;
    height: 100%;
    padding: 10px;
    animation-name: animacao;
    animation-duration: 1s;
}

li{
    list-style: none;
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    
}

.open{
    display: block;
    background-color: rgb(222, 120, 30);
}


.menu-items-content{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 10px;
}


@keyframes animacao{
    from{width: 0px;}
    to{width: 300px;}
}

.box{
    display: flex;
    height: 100%;
 
    
}

.notes-content{
    flex-grow:1 ;
    padding: 20px;
    position: relative;
    height: 100%;

}


#add-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgb(0, 119, 255);
    border: transparent;
    border-radius: 50%;
    font-size: xx-large;
    padding: 10px;
}
