
<mat-dialog-content>
  <p>Qual o titulo da tarefa?</p>
<div class="content-field">
    
    <mat-form-field>
        <mat-label>Tarefa</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descrição</mat-label>
      <input matInput [(ngModel)]="description">
    </mat-form-field>
</div>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial (click)="updateProject()" >Salvar</button>
</mat-dialog-actions>
